#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: var(--white);
    border-bottom: 1px solid var(--dark_border);
    background-color: vaR(--black);
    display: flex;
    align-items: center;
    font-family: "Rajdhani";    
}
.header__port {
    flex: 1 1 40%;
    a {
        display: inline-block;
        padding: 1rem;
        text-transform: capitalize;
    }
}
.header__logo {
    flex: 1 1 20%;
    text-align: center;
    a {
        display: inline-block;
        font-size: 1.6rem;
        padding: 1rem;
    }
}
.header__menu {
    flex: 1 1 40%;
    text-align: right;

    ul {
        
        li {
            display: inline;
            a {
                display: inline-block;
                padding: 0.5rem 1rem 0.5rem 1rem;                
                position: relative;
                margin: 1rem 0.3rem 0.5rem 0.3rem;  
                            
                &::before { 
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    width:0;
                    height: 1px;
                    background: var(--white);
                    //transform: scaleX(0);
                    transition: all 0.3s ease;
                }      
                &::after { 
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0px;
                    width:0;
                    height: 1px;
                    background: var(--white);
                    //transform: scaleX(0);
                    transition: all 0.3s ease;                    
                }    
                &:hover::after {
                    width: 100%;
                }                      
                &:hover::before {
                    //transform: scaleX(0.7);                   
                    width: 100%;
                }
                &:hover {
                    border-right: 1px solid var(--white);
                    border-left: 1px solid var(--white);
                }
            }            
        }
    }
}


//라이트 버전
.light#header {
    background-color: var(--light_bg);  
    border-color:var(--light_border);
    a {
        color: var(--black);
        &::before {
            background: var(--black);
        }
        &::after {
            background: var(--black);
        }
        &:hover {
            border-color:var(--black);
        }
    }
}

//미디어쿼리
@media (max-width:1119px){
    .header__menu{display: none;}
    .header__port{display: none;}
}

@media (max-width:600px){
    #header {
        background: rgba(0,0,0,0.2);
        backdrop-filter: blur(10px);
        
    }
}
