.refer__cont {
    background-color: var(--black);
    min-height: 100vh;
    margin-bottom: 50vh;
}
.refer__inner {

    // opacity: 0;

    h2 {
        color: var(--white);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    // table {
    //     border-top: 1px solid var(--light_border);
    //     border-bottom: 2px solid var(--light_border);
    //     color: var(--white);
        
    //     td {
    //         border-top: 1px solid var(--light_border);
    //         padding: 1.4rem 0;
    //         font-family: var(--subKor_font);
    //         font-weight: 300;
    //     }
    // }
}

.refer__list {
    color: var(--white);
    border-top: 2px solid var(--white);
    border-bottom: 1px solid var(--white);
    a {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--white);
        padding: 1rem 0 ;
        transition: all 0.3s;
        font-family: var(--subKor_font);

        &:hover {
            background: rgba(255,255,255,0.8);
            color: var(--black);
        }

        span {
            display: inline-block;
        }

        span:nth-child(1) {
            text-align: center;
            width: 5%;
        }
        span:nth-child(2) {
            width: 20%;
        }
        span:nth-child(3) {
            width: 65%;
        }
        span:nth-child(4) {
            width: 10%;
            text-align: center;
        }
    }

}

.refer__table {
    margin-top: 400px;
    color: var(--white);
    font-family: var(--subKor_font);

    h3 {
        font-size: 4rem;    
        text-align: center;     
        margin-bottom: 10px;
    }
    img {
        height: 300px;
        object-fit: cover;
    }
    p {
        background-color: var(--light_bg);
        color: var(--black);
        padding: 1.4em;
    }
    h2 {
        margin-top: 30px;        
    }
    a {
        display: block;
        margin: 15px 0;
        color: burlywood;
    }
    ul {
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
        li {
            margin: 10px;
        }
    }

    .refer__table {
        color: var(--white);
        font-family: var(--subkor_font);
        border: 1px solid var(--white);
        margin-top: 0.5em;

       
        th,td {
            padding: 1em;
            font-weight: normal;
            border-bottom: 1px solid var(--white);
            border-left: 1px solid var(--white);
        }
        

        thead {

        }

        tbody {

        }
    }
}

.refer__cont.light {
    background-color: var(--light_bg);

    .refer__inner {
        h2 {
            color: var(--black);
        }

        table {
            border-color : var(--black);
            color: var(--black);

            td {
                border-color: var(--black);
            }
        }
    }
}