.youtube__cont {
    background-color: var(--black);
}

.youtube__inner {

}

.youtube__list {
    ul {
        display: flex;
        flex-wrap: wrap;
       

        li {
            flex: 1 1 30%;
            margin: 1%;

            p {
                color: var(--white);
                margin-top: 20px;
                margin-bottom: 1rem;
                font-size: 1.1rem;
                border-bottom: 1px solid #fff;
                line-height: 1.5;
                padding-bottom: 10px;
                font-family: var(--subKor_font);
            }
        }
    }
}